---
import Button from "../components/Button";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <h1 id="about__title" class="text-5xl bg-blue-500">About page!</h1>
  <Button />
</MainLayout>

<script>
  const p = document.querySelector("#about__title");
  p.textContent = "hi";
</script>
